{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "endOfLine": "auto",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "htmlWhitespaceSensitivity": "css",
    "vueIndentScriptAndStyle": false,
    "embeddedLanguageFormatting": "auto"
}
